* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.954);
    padding: 10px 20px;
    z-index: 2;
}
.navbar a{
    text-decoration: none;
}
.navbar .navtag{
    color: white;
    font-size: 15px;
    margin-right: 8px;
    z-index: 5;
}

.current-time {
    font-size: 16px;
    color: #fff; 
    margin: 0 15px;
    display: inline-block;
    text-align: center; 
}
/* #google_translate_element{
    margin-top: 50PX;
} */
.daydate{
    display: flex;
    flex-direction: column;
}
.day {
    font-weight: bold;
    font-size: 18px;
}

.date {
    font-size: 14px;
    margin-top: 5px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.website-name {
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
}

/* Profile Icon */
.profile-icon {
    font-size: 30px;
    cursor: pointer;
    color: #070303 !important;
    position: fixed;  /* Ensure fixed position */
    top: 10px;        /* Distance from top */
    right: 10px;      /* Distance from right edge */
    z-index: 4;       
    display: flex;
}

/* Left Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 230px;
    height: 95%;
    background: rgba(0, 0, 0, 0.692);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 3;
}

.sidebar.active {
    left: 0;
}

.sidebar .close-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Right Sidebar (Profile Section) */
.profile-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 230px;
    height: 95%;
    background: rgba(0, 0, 0, 0.808);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 3;
}

.profile-sidebar.active {
    right: 0;
}

.profile-sidebar .close-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
}

.profile-sidebar h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-sidebar p {
    color: #fff;
    line-height: 22px;
    font-size: 15px;
    text-align: left;
}


@media screen and (max-width: 768px) {
    .navbar .navtag {
        display: none; /* Remove navtags from navbar */
    }
  .response{
    display: block;
  }
}